/* PC */
@media (min-width: 1024px) {

    .hide-on-mobile-pc,
    .mobile__category,
    .hide-on-mobile-pc-tablet {
        display: none;
    }
}

/* Mobile - Tablet */
@media (max-width: 1023px) {

    .hide-on-mobile-tablet {
        display: none;
    }

    .slide-baner {
        height: calc(530px / 2);
    }
}

/* Tablet */
@media (min-width:740px) and (max-width: 1023px) {
    .hide-on-tablet {
        display: none;

    }

}

/* Mobile */
@media (max-width:739px) {
    .hide-on-mobile {
        display: none;
    }

    .footer-logo{
       margin-top: 60px;
    }

    .footer-logo img{
        width: 150px;
    }


}